body{
    /*background-color: black; */
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ----------------- nav bar ----------------------------*/
li,a,p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
header{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
     width: auto; 
}
header#cabecalho{
  
    height: 50px;
    width: 100%;
}
#logo{
    height: 60px;
    width: 60px;
}
.nav_links{
    list-style: none;
    position: relative;
    left: -290px;
   
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;  
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
p{
    color: #8A05BE;
}
/* -- end nav bar ----------------------------------*/

section#container1{
    background-color:  rgb(138, 5, 190);
    background-size: 160%;
    min-height: 846px;
    /*background-position: 46% 4%;*/
   /* -webkit-box-pack: center;*/
    /*justify-content: center;*/
    
}
section#container2{
    background-color:#F5F5F5;
    background-size: 160%;
    min-height: 846px;
}
section#container3{
    background-color: rgb(255, 255, 255);
    background-size: 80%;
    min-height: 846px;
}
section#container-rewards{
    background-color: #530082;
    background-size: 80%;
    min-height: 846px;
}
section#container4{
    background-color:blue;  
    height: 846px;
    width: auto;
   
}

img#imgContainer4{
    height: 846px;
    width: 100%; 
}
section#container5{
    background-color: black;  
    height: 600px;
    width: auto;
   
}
img#imgContainer5{
    height: 600px;
    width: 100%; 
}
section#container6{
    background-color: black;  
    height: 600px;
    width: auto;
   
}
img#imgContainer6{
    height: 600px;
    width: 100%; 
}
footer{
    background-color: black;   
    height: 846px;
    width: auto;
}

.footer-col h4{
    margin: 0px 0px 32px;
    color: rgb(245, 245, 245);
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-size: 1.125rem;
    line-height: 1.32;
}

.footer-col ul li a{
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    color: rgb(245, 245, 245);
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 1.125rem;
    line-height: 1.2
}